@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('../fonts/Inter-roman-latin.var.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('../fonts/Inter-italic-latin.var.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Ubuntu-Mono-bold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Flow';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/flow-circular.woff') format('woff');
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  } 
  
  @font-face {
    font-family: "Hubballi Kanadaka";
    src: url("../fonts//Hubballi/Hubballi-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  /* src: url("../fonts//Akaya_Kanadaka/AkayaKanadaka-Regular.ttf"); */
  