@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and
  (max-device-width: 450px) { 
    body {
      width: fit-content;
    }
}